[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule ".linuxbrew/Homebrew"]
	path = .linuxbrew/Homebrew
	url = https://github.com/Homebrew/brew
[submodule "/home/mike/.bash_it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
