"*":
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "linter"
      "spell-check"
      "autocomplete-clang"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "99f654d7-ca96-4445-8ff5-7f32a5219e48"
  latex:
    cleanPatterns: [
      "**/*.aux"
      "**/*.aux.bak"
      "**/*.bbl"
      "**/*.bcf"
      "**/*.blg"
      "**/*.dvi"
      "**/*.fdb_latexmk"
      "**/*.fls"
      "**/*.idx"
      "**/*.idx.bak"
      "**/*.ilg"
      "**/*.ind"
      "**/*.lof"
      "**/*.log"
      "**/*.lol"
      "**/*.lot"
      "**/*.nav"
      "**/*.out"
      "**/*.ps"
      "**/*.snm"
      "**/*.synctex.gz"
      "**/*.toc"
      "/**/_minted-{jobname}"
      "/{output_dir}/sage-plots-for-{jobname}.tex"
      "/missfont.log"
      "/texput.log"
      "/texput.aux"
    ]
  "linter-ui-default":
    panelHeight: 130
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  welcome:
    showOnStartup: false
