packages: [
  "atom-beautify"
  "atom-ide-ui"
  "autoclose-html"
  "autocomplete-clang"
  "autocomplete-cmake"
  "autocomplete-python"
  "autocomplete-xml"
  "busy-signal"
  "color-picker"
  "docblockr"
  "editorconfig"
  "file-icons"
  "git-log"
  "ide-cpp"
  "ide-css"
  "ide-html"
  "ide-java"
  "ide-json"
  "ide-python"
  "ide-yaml"
  "intentions"
  "language-cmake"
  "language-cpp14"
  "language-latex"
  "latex"
  "linter"
  "linter-chktex"
  "linter-clang"
  "linter-cpplint"
  "linter-csslint"
  "linter-gcc"
  "linter-htmlhint"
  "linter-jshint"
  "linter-jsonlint"
  "linter-php"
  "linter-ruby"
  "linter-spell"
  "linter-spell-html"
  "linter-spell-javascript"
  "linter-spell-latex"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-linter"
  "monokai"
  "package-sync"
  "project-manager"
  "show-origin"
  "symbols-tree-view"
  "todo-show"
  "vim-mode-plus"
]
