alias ll="ls -lh"
alias lll="ll --group-directories-first"
alias gpg1="/usr/bin/gpg"
alias gpg="gpg2"
alias prp="pipenv run python"
alias pjupyter="pipenv run jupyter"
alias pmake="pipenv run make"
alias ppython="pipenv run python"
alias prun="pipenv run"
